*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #3c3c3c;
    color: #f3f3f3;
    height: 5rem;
    line-height: 5rem;

    
}

.choice{
    height: 170px;
    width: 170px;

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 40%;
}

.choices{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   margin-top: 20px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
    color: #3c3c3c;
    margin-top: 2rem;
    font-size: 2rem;


}

.msg-container{
    justify-content: center;
    border-radius: 10px;
    padding-top: 1.5vmin;
    color: #f3f3f3;
    margin-top: 3rem;
   
}


#msg{
    color: white;
    background-color: #3c3c3c;
    font-size: 1.5rem;
    display: inline;
    padding: .5rem;
    border-radius:10px ;
}

.choice:hover{
    opacity: .5;
    cursor: pointer;
}

#user-score ,#comp-score{
    font-size: 3rem;
}


